<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azure Cloud</title>
</head>
<body align="center" style="height:800px;background:linear-gradient(white, black);">
<h2>Welcome to Personal Organizer</h2>
<form action="/login_user" method="post">
    <table align="center">
        <tr>
            <td>User Name : <input type="text" name="loginid"></td>
        </tr>
        <tr>
            <td>Password : <input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" name="modeSelection" value="Login"></td>
            <td><input type="submit" name="modeSelection" value="Register"></td>
        </tr>
    </table>
</form>
<br/>
<p>{{imsg}}<br/>
{{logintime}}
{{dbtime}}
</body>
</html>