<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Organizer</title>
</head>
<body>
<h2>User Registration</h2>
<table align="center" style="height:800px;background:linear-gradient(white, black);">
    <form action="/register_user" method="post">
        <tr>
            <td>Enter Name: <input type="text" name="name"></td><br/>
            <td>Enter Username: <input type="text" name="loginid"></td><br/>
            <td>Enter Password: <input type="text" name="password"></td><br/>
            <td><input type="submit" value="Register User"></td>
        </tr>
    </form>
</table>
</body>
</html>